form{
    padding: 20px;
}

.box{
    gap: 20px;
    display: flex;
    align-items: center;
}

.box h1{
    margin-top: 37px;
}

button{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    line-height: 10px;
    padding: 15px 27px;
    border-radius: 20px;
    border-color: #006400;
    background-color: #008000;
    font-family: 'Times New Roman', Times, serif;
}

button:hover{
    background-color: #0e520e;
}

input{
    padding: 7px;
    margin-right: 10px;
}